# Sytem
.DS_Store
*.pyc
*.retry
*.log
venv
env
__pycache__
.vagrant
.imdone
npm-debug.log
.sass-cache
migrations
node_modules
vendor
dist/*
!dist/.gitkeep


# Database
*.db
*.sql
*.sqlite
*.rdb
*.bak
*.dat
*.dir
data/*
!data/.gitkeep
filesystem/*
!filesystem/.gitkeep

# Project Specific Code
backup_db.sh
